nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #C4DFDF;
    gap: 45px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s;
}

nav a:hover{
    color: rgb(147, 151, 151);
}
nav a svg {
    margin-right: 5px;
}

